/* FONTS */
@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo/aleo-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    }
    
@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo/aleo-bolditalic-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    }

@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo/aleo-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }
        
@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo/aleo-italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    }

@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo/aleo-light-webfont.woff2') format('woff2');
    font-weight: thin;
    font-style: normal;
    }
            
@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo/aleo-lightitalic-webfont.woff2') format('woff2');
    font-weight: thin;
    font-style: italic;
    }

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/montserrat-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    }
        
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/montserrat-bolditalic-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    }
    
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/montserrat-semibold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }
            
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/montserrat-semibolditalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    }
    
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/montserrat-medium-webfont.woff2') format('woff2');
    font-weight: thin;
    font-style: normal;
    }
                
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/montserrat-mediumitalic-webfont.woff2') format('woff2');
    font-weight: thin;
    font-style: italic;
    }

/* CSS Stylesheet */

* {
    box-sizing: border-box;
}

body {
    margin: 0.5rem;
    font-family: Aleo, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navigation {
    background-color: #EFF0F3;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

/* .menu_icon {
    padding-top: 20px;
}

.menuicon {
    width: 30px;
    height: 20px;
} */

.name {
    font-family: Aleo, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    font-weight: bold;
    display: inline;
    padding-left: 1.5rem;
    color: #1F2639;
    text-decoration: none;
}

a.name:hover {
    text-decoration: none;
    color: #1F2639;
}

li {
    list-style: none;
    display: inline-block;
    padding: .5rem;
}

li a {
    color: #1F2639;
    font-family: Aleo, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

a {
    cursor: pointer;
}
    
a:hover {
    text-decoration: underline;
    color: #5E6782;
}

#categories {
    color: #5E6782;
    text-decoration: underline;
}

input[type=text] {
    width: 290px;
    padding-left: 40px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    background-color: white;
    background-image: url(http://christineyim.com/idm232-ccy29/images/search_icon.png);
    background-position: 200px 9px; 
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
    transition: width 0.4s ease-in-out;
  }

.search {
    padding-left: 20rem;
}

.front_image_container {
    width: 100%;
    height: 570px;
    background-image: url(http://christineyim.com/idm232-ccy29/images/spiced_shrimp.png);
    background-repeat: no-repeat;
    background-size: cover;
}

img.front_image {
    object-fit: cover;
    align-self: center;
}

.home_categories {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    margin-bottom: 10rem;
}

.home_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#popular {
    font-family: Aleo, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    display: inline-block;
    width: 20%;
}

#autumn_picks {
    font-family: Aleo, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    display: inline-block;
    width: 35%;
}

#divider1 {
    width: 79%;
    height: 5px;
    background-color: #5E6782;
}

#divider2 {
    width: 65%;
    height: 5px;
    background-color: #9F1010;
}

.popular_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    justify-content: space-between;
}

.autumnpicks_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    justify-content: space-between;
}

.fooditem {
    margin: 0.2rem;
    margin-top: 2rem;
}

.food {
    width: 100%;
    height: 250px;
}

.food:hover {
    opacity: 80%;
}

p {
    font-family: Aleo, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    height: 30px;
}

a.recipelink1, a.recipelink2 {
    color: #000000;
    text-decoration: none;
}

a.recipelink1:hover {
    color: #5E6782;
    text-decoration: none;
}

a.recipelink2:hover {
    color: #9F1010;
    text-decoration: none;
}

.footer {
    background-color: #1F2639;
    width: auto;
    padding: 3rem;
    width: 100%;
    display: flex;
    padding-bottom: 6rem;
}

.container {
    width: 500px;
}

#container1 {
    padding-left: 10rem;
}

#container2 {
    padding-right: 12rem;
}

h3 {
    font-family: Aleo, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #EFF0F3;
}

a.footer_menu_item {
    color: #EFF0F3;
    font-family: Aleo, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    text-decoration: none;
}

a.connect {
    color: #EFF0F3;
    font-family: Aleo, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    text-decoration: none;
}

a.footer_menu_item:hover {
    text-decoration: underline;
}

a.connect:hover {
    text-decoration: underline;
}

.horizontal_div {
    height: 2px;
    width: 25%;
    background-color: #EFF0F3;
    margin-top: 2rem;
}

h4 {
    font-family: Aleo, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #EFF0F3;
}

.social_icons {
    width: 20px;
    height: 20px;
    padding-right: 1.5rem;
}

/* Category Listing */
.category_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
}

#food_categories {
    font-family: Aleo, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    display: inline-block;
    width: 19%;
}

#divider3 {
    width: 80%;
    height: 5px;
    background-color: #5E6782;
}

.category_items_container {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    margin-bottom: 10rem;
}

p.p_category {
    height: 100px;
    font-size: 24px;
    font-weight: bold;
}

a.categorylink {
    text-decoration: none;
    color: #000000;
}

a.categorylink:hover {
    text-decoration: none;
    color: #5E6782;
}

/* Specific Category Listing */
